<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Erreur</title>
	<div th:replace="~{integration/links}"></div>
	<style>
		@media (max-width: 768px) {
			h1 {
				font-size: 1.5rem;
			}
			.container {
				padding: 0 1rem;
			}
		}
	</style>
</head>
<body>
<header>
	<div th:replace="~{integration/navbar}"></div>
</header>
<main class="container mt-5">
	<h1 class="mt-5" data-th-text="Erreur + ${status}"></h1>
	<a class="btn btn-primary" data-th-href="@{/}">Accueil</a>
</main>
<div th:replace="~{integration/scripts}"></div>

</body>
</html>
